.Profile-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.Profile {
    padding: 0.9rem 0.6rem;
    background-color: $primary;
    // width: calc(33% - 14px);
    flex-basis: calc(33% - 14px);
    box-shadow: $block-shadow;
    margin-bottom: 13px;
    color: $button-text;
    font-family: Arial;

    a {
        &, &:hover, &:visited, &:active {
            color: $button-text;
        }
    }

    @include mobile() {
        flex-basis: 100%;
        margin: 0 12px 12px;
    }

    &--hidden {
        visibility: hidden;

        @include mobile() {
            display: none;
        }
    }
}

.Profile__name {
    font-size: 18px;
    font-weight: $weight-semibold

}
