@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "./_variables.scss";
@import "./_profile.scss";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $body-background;
}

.wrapper {
    box-shadow: $block-shadow;
    background-color: $top-color;
    margin: 2rem;
    padding: 12px;

    @include mobile() {
        margin: 15px;
    }
}

.button {
    height: auto;
    border: none;
    text-decoration: none;
    font-size: 20px;
    color: $button-text;
    padding: 0.8em 1.6em;
    border-radius: 3px;
    background: $lul;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
    font-weight: $weight-semibold;
    &.button-block {
        box-shadow: $block-shadow;
        &:hover, &:active, &:focus {
            color: $button-text;
            transform: translate(7px, 7px);
            box-shadow: 1px 1px 0px lighten($lul, 10%);
        }
    }
}
